<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <title>OnlyJams</title>
    <%- include ('./partials/head.ejs') %>
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <%- include ('./partials/nav.ejs') %>
    <h1 id='main-header'>onlyJams Index Page</h1>
    <div class='whole-page'>
      <h1>
      <iframe width="1280" height="720" src="https://www.youtube.com/embed/Qxbtsn8qt2w?t=78" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <% for(let i = 0; i < artists.length; i++) { %>
        <div class='flex-container'>
          <a class='artist-link' href='/onlyJams/<%=artists[i].id%>'>
            <h4><%=artists[i].name%></h4>
            <img class='artist-img' src='<%=artists[i].img%>'></img><br/>
          </a>
          <% if (currentUser) { %>
          <div class='button-container'>
            <a href='/onlyJams/<%=artists[i].id%>/edit' method='GET'>
              <input class='button' type="submit" href='/onlyJams/<%=artists[i].id%>/edit' value="EDIT">
            </a>
            <form action='/onlyJams/<%=artists[i].id%>?_method=DELETE' method='POST'>
              <input class='button' type="submit" value="DELETE">
            </form>
          </div>
          <% } %>
        </div>
      <% } %>
    </div>
    <div id='new-artist'>
      <a href='/onlyjams/new'>Add a new artist!</a>
    </div>
  </body>
</html>
