<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>OnlyJams</title>
  </head>
  <body>
    <nav>
    </nav>
    <div class='whole-page'>
      <h1 id='main-header'>onlyJams Index Page</h1>
      <% for(let i = 0; i < artists.length; i++) { %>
        <a href='/onlyJams/<%=artists[i].id%>'><%=artists[i].name%><br/>
          <img class='artist-img' src='<%=artists[i].img%>'></img>
        </a><br/>
        <form action='/onlyJams/<%=artists[i].id%>/edit' method='GET'>
          <input type="submit" value="EDIT">
        </form>
        <form action='/onlyJams/<%=artists[i].id%>?_method=DELETE' method='POST'>
          <input type="submit" value="DELETE">
        </form>
      <% } %>
      <a href='/onlyjams/new'>Add a new artist!</a>
    </div>
  </body>
</html>
